@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root{
    --font: 'Inter', sans-serif;
    --contact-columns:  repeat(8,1fr);
    --contact-rows: 1fr;
    --clip: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);
    --color-primary: #5050f0;
}

body{
    font-family: 'Inter', sans-serif;
}

.contact{
    display: grid;
    grid-auto-flow:row;
    grid-template-columns: var(--contact-columns);
    grid-template-rows: var(--contact-rows);
    align-items: center;
    min-height: 100vh;
}

.contact__picture{
    grid-column: 5/9;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.contact__picture::before{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    content: "";
    z-index: -1;
    clip-path: var(--clip);
    top: 0;
    left: 0;
}

.contact__img{
    width: 90%;
    align-items:center;

}

.contact__form{
    grid-column: 1/5;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3rem;
}

.contact__input{
    padding: 1rem;
    outline: none;
    width: 100%;
    border: 1px solid #000;
    border-radius: 2px;
}

.contact__cta{
    display: block;
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 2px 10px -4px rgba(0, 0, 0, .5);
    font-size: 1.2rem;
}

.contact__input--area{
    resize: none;
    height: 150px;
}

.contact__title{
    font-size: 3rem;
    font-family: var(--font);
    margin-bottom: 20px;
}

.contact__title::after{
    display: block;
    width: 100px;
    height: 5px;
    content: "";
    background-color: var(--color-primary);
}

@media screen and (max-width:768px){
    .contact{
        --contact-columns: 1fr;
        --contact-rows:1fr 1fr;
        grid-template-columns: var(--contact-columns);
        grid-template-rows: var(--contact-rows);
    }
    .contact__picture{
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .contact__form{
        grid-column: 1/-1;
        grid-row: 2/3;
        padding: 0 1.5rem;
    }

}