@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 4rem;
}

.gallery{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}

.gallery__title{
    margin: 20px 0;
    font-size: 40px;
}

.gallery__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.gallery__picture{
    min-width: 200px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:425px) {
    .gallery__title{
        font-size: 30px;
    }
}
