@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}

.card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    margin: 5rem auto;
    justify-content:center;
    padding: 1rem;
    max-width: 1200px;
    flex-wrap: wrap;
}

.card__img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.card__item{
    flex:auto;
    min-width:300px;
    max-width: 400px;
    width: 30%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    max-height: 40rem;
    margin-top: auto;
    margin-bottom: auto;
    justify-content:space-between;
    gap: 1rem;
}

.card__figure{
    flex: 0 0 250px;
    width: 300px;
    height: 300px;
}

.card__texts{
    flex: 1 1 auto;
    overflow: auto;
}

.cta{
    flex: 0 0 0;
    text-decoration: none;
    color: #fff;
    padding: .8rem;
    background-color:rgb(41, 41, 141);
    width: max-content;
}