@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    padding-bottom: 1.5rem;
}

.gallery__title{
    padding: 2rem 0;    
    font-weight: 600;
    font-size: 1.7rem;
}

.gallery__title::after{
    content: "";
    display: block;
    width: 200px;
    height: .25rem;
    background-color: crimson;
    margin-top: .8rem;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.gallery__picture{
    height: 300px;
}

.gallery__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%, 250px), 1fr));
    gap: 10px;
}

