*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Arial';
}

.nav{
    background-color: #4986bb;
    height: 70px;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: right;
    padding: 0 20px;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.title{
    color: #fff;
    font-size: 3rem;
}

.enlaces{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 70px;
    padding: 0 10px;
    margin: 0 6px;
}

.enlaces:hover{
    background-color: #fff;
    color: #2076c3;
    font-weight: bold;
}

.section{
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    background-attachment: fixed;
}

.section:nth-of-type(1){
    margin-top: 70px;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.section:nth-of-type(2){
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.section:nth-of-type(3){
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}