@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root{
    --clip: circle(0 at top right);
    --show: scale(0);
    --transitionModal: .5s transform;
    --transitionBackground: 1s .5s clip-path;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.714);
    width: 100%;
    height: 100%;
    display: flex;
    clip-path: var(--clip);
    transition: var(--transitionBackground);
}

.modal:target{
    --clip: circle(150% at top right);
    --show: scale(1);
    --transitionModal: .5s 1s transform;
    --transitionBackground: 1s clip-path;
}

.modal__container{
    margin: auto;
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: #fff;
    position: relative;
    padding: 2rem;
    transform: var(--show);
    transition: var(--transitionModal);
}



.cta{
    text-decoration: none;
    color: #fff;
    background-color: rgb(38, 139, 201);
    display: block;
    width: 12rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
}

.modal__img{
    grid-column: 1/4;
    grid-row: 2/4;
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.modal__close{
    position: absolute;
    display: block;
    background-color: crimson;
    right: 0;
    top: 0;
    text-decoration: none;
    color: #fff;
    line-height: 2rem;
    text-align: center;
    width: 2rem;
    font-family: sans-serif;
    font-weight: 500;
}

.modal__texts{
    grid-column: 4/-2;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.modal__title{
    font-size: 3rem;
}
.modal__paragraph{
    font-size: 1.3rem;
}