@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secundary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0,0,0,.2);
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    height: 100vh;
    --padding-container: 0;
}

.hero__main{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100%;
    flex-wrap: wrap-reverse;
}

.hero__text{
    width: 45%;
    color: #fff;
}

.hero__figure{
    width: 45%;
    text-align: center;
}

.hero__img{
    max-width: 80%;
}

.hero__title{
    font-size: 4rem;
}

.hero__copy{
    font-size: 1.5rem;
    font-weight: 300;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about__texts{
    width: 50%;
    --align-title: left;
}

.about__figure{
    width: 45%;
    text-align: center;
}

.about__img{
    max-width: 80%;
}

.title{
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-bottom: 20px;
    text-align: var(--align-title);
}

.about__paragraph{
    line-height: 1.5;
}

.about__cta{
    text-decoration: none;
    padding: 20px 40px;
    background-color: var(--color-primary);
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
}

.portfolio{
    background-color: var(--color-bg);
}

.portfolio__cards{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio__card{
    width: 27%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    height: auto;
}

.portfolio__picture{
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
}

.portfolio__texts{
    padding: 30px 20px 40px;
}

.portfolio__title{
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-secundary);
}
.portfolio__paragraph{
    font-weight: 300;
    margin: 30px 0;

}
.portfolio__cta{
    text-decoration: none;
    background-color: var(--color-secundary);
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-radius: 30px;
    font-weight: 300;
}

.copy{
    background-color: var(--color-primary);
}

.copy__texts{
    --color-primary: #fff;
}

.gallery__container{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery__picture{
    width: 30%;
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--box-shadow);
    display: block;
    margin-bottom: 20px;
}

.languages{
    background-color: var(--color-bg);
}

.languages__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.languages__picture{
    width: 20%;
    height: 100px;
}

.footer{
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
}

.footer__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    --color-primary: #fff;
    align-items: center;
}

.footer__texts{
    width: 50%;
}

.footer__img{
    width: 35%;
}

.footer__icon{
    display: inline-block;
    font-size: 2rem;
    margin: 0 30px;
    text-decoration: none;
    margin-bottom: 30px;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid;
}

.fab{
    line-height: 60px;
}

.footer__icon:hover{
    background: #fff;
    color: #f77062;
    cursor: pointer;
}

.footer__link{
    text-decoration: none;
    color: inherit;
    margin: 0 20px;
    display: inline-block;
    margin-bottom: 15px;
}

.footer__link:hover{
    text-decoration:underline;
}

.footer__picture{
    width: 90%;
}

@media screen and (max-width: 800px){
    .hero{
        height: auto;
        min-height: 100vh;
        --padding-container: 40px 0;
    }

    .hero__main{
        justify-content: center;
    }

    .hero__figure{
        width: 60%;
        margin-bottom: 30px;
    }

    .hero__img{
        max-width: 85%;
    }

    .hero__text{
        width: 100%;
    }

    .hero__title{
        font-size: 3.5rem;
    }

    /* Section about */

    .about__texts{
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
        --align-title:center ;
    }

    .about__paragraph{
        text-align: left;
    }

    .about__figure{
        width: 100%;
    }

    /* Section portfolio */

    .portfolio__card{
        width: 45%;
        margin-bottom: 30px;
    }

    /* Section Gallery */
    .gallery__picture{
        width: 45%;
    }

    /* Section Languages */

    .languages__container{
        justify-content: space-between;
    }

    /* Footer */

    .footer__container{
        flex-direction: column;
    }

    .footer__img{
        order: -1;
        width: 45%;
        margin-bottom: 30px;
    }

    .footer__picture{
        width: 100%;
    }

    .footer__texts{
        width: 100%;
    }
}

@media screen and (max-width:550px){

    :root{
        --padding-container: 40px 0;
    }

    .hero__picture{
        width: 100%;
    }

    .hero__img{
        width: 100%;
    }

    .hero__title{
        font-size: 2.8rem;
    }

    .title{
        font-size: 2.2rem;
    }

    .about__texts{
        width: 100%;
    }

    .portfolio__card{
        width: 90%;
        max-width: 300px;
    }

    .gallery__picture{
        width: 90%;
        max-width: 300px;
    }

    .languages__container{
        justify-content: space-around;
    }

    .languages__picture{
        width: 35%;
        margin-bottom: 30px;
    }

    .footer__img{
        width: 90%;
    }

    .footer__img{
        max-width: 330px;
        margin-bottom: 40px;
    }
    .hero{
        height: 50vh;
        min-height: auto;
    }


    .hero__main{
        height: 100%;
        flex-flow: column;
    }

    .hero__figure{
        flex: 1;
        order: -1;
    }

    .hero__text{
        flex:1;
    }

    .portfolio__cards{
        padding: 40px 0 0 0;
    }

}