*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
}


.picture{
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.picture__img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.picture__container{
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(142, 176, 20, 0.73);
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 1.2rem 1rem;
    transform: translate(-100%,-100%) rotate(360deg);
    transition: transform 1s;
}

.picture:hover .picture__container{
    transform: translate(0);   
}

.picture__texts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.picture__title{
    font-size: 2rem;
    text-align: center;
    border-bottom: #fff solid 0.3rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.picture__paragraph{
    font-size: 1rem;
    flex-basis: 200px;
    line-height: 1.5;
}