@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --color-soft-orange: hsl(35, 77%, 62%);
    --color-soft-red: hsl(5, 85%, 63%);
    --color-off-white: hsl(36, 100%, 99%);
    --color-grayish-blue: hsl(233, 8%, 79%);
    --color-dark-grayish-blue: hsl(236, 13%, 42%);
    --color-very-dark-blue: hsl(240, 100%, 5%);
    --background-image-menu-open: url('../images/icon-menu.svg');
    --background-image-menu-close: url('../images/icon-menu-close.svg');
    --background-image-hero-desktop: url('../images/image-web-3-desktop.jpg');
    --background-image-hero-mobile: url('../images/image-web-3-mobile.jpg');
}