@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.section1{
    background-image: url(../img/hero.jpg);
    padding: 0.1px;
}

.section1 h2{
    background-color: #000;
    color: #fff;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    margin-top: calc(50vh - 50px);
}

.text {
    width: 100%;
    text-align: center;
    padding: 60px 30px;
}

.text p{
    padding: 20px 0;
}

.section2 {
    height: 60vh;
    background-image: url(../img/fondo1.png);
    color: #fff;
    text-align: center;
    padding: 0.1px;
}

.section2 h3{
    line-height: 60vh;
    font-size: 4rem;
}

.section3 {
    background-image: url(../img/fondo2.png);
    padding: 0.1px;
    text-align: center;
    color: #fff;
}

.section3 h3{
    font-size: 4rem;
    line-height: 100vh;
}