@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root{
    --color-primary: #2659e4;
    --columns-card: repeat(5,1fr);
    --columns-rows: repeat(8,1fr);

}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    width: 90%;
}

.card{
    max-width: 1000px;
    display: grid;
    grid-template-columns: var(--columns-card);
    grid-template-rows: var(--columns-rows);
}

.card::after{
    grid-column: 1/4;
    grid-row: 1/-1;;
    content: "";
    z-index: -1;
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.card__content{
    grid-column: 3/-1;
    grid-row: 2/8;
    background-color: var(--color-primary);
    color: #fff;
    padding: 40px;
}

.card__title{
    font-size: 2.5rem;
}

.card__description{
    margin: 1.2rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

.cta{
    margin-top: 10px;
    background-color: #fff;
    text-decoration: none;
    color: var(--color-primary);
    padding: 10px 20px;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5px;

}

@media screen and (max-width:768px) {
    .card::after{
        grid-column: 1/5;
        grid-row: 1/8;;
    }
    .card__content{
        grid-column: 2/-1;
        grid-row: 4/-1;
    }

    :root{
    --color-primary: #2659e4ed;
    }
}

@media screen and (max-width:425px) {
    .card::after{
        grid-column: 1/-1;
        grid-row: 1/6;;
    }
    .card__content{
        grid-column: 1/-1;
        grid-row: 5/-1;
    }

    :root{
    --color-primary: #2659e4ed;
    }

}