@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Prata', serif;
    background: #ede8e2;
    display: flex;
    height: 100vh;
}

.grid{
    background-color: #fff;
    width: 90%;
    height: 90vh;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    overflow: hidden;
}

.grid::after{
    grid-row: 1/-1;
    grid-column: 4/-1;
    background-image: url(../img/garden.jpg);
    background-size: cover;
    background-position: center;
    content: "";
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: show 1s cubic-bezier(.99,-0.01,1,.51) 3.5s 1 forwards;
}

.grid__title{
    font-size: 6rem;
}

.grid__title--transform{
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
}

.grid__texts{
    grid-column: 2/8;
    grid-row: 2/-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    animation: show 1.5s ease forwards,
                move 2s ease 1.5s forwards;
    transform: translateX(40%);
}

@keyframes show {
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes move {
    to{
        transform: translateX(0);
    }
}

@media screen and (max-width:600px) {
    
    .grid__title{
        font-size: 4rem;
    }

    .grid__title--transform{
        font-size: 2.5rem;
    }
}
